.container-fluid
  .card.my-2
    = render 'shared/card/card_header', title: 'Edit Item'
    .card-body
      = simple_form_for @item, url: item_path(@item), data: {turbo: false} do |f|
        = render 'form', f: f
